version: '3'

services:
  visits-service:
    image: springcommunity/spring-petclinic-visits-service
    container_name: visits-service
    network_mode: host
    volumes:
     - ${SCRIPTPATH}/easeagent:/easeagent-volume
    entrypoint: 
      - "./dockerize"
      - "-wait=tcp://discovery-server:8761"
      - "-timeout=60s"
      - "--"
      - "java"
      - "$JAVA_AGENT_CONFIG"
      - "-javaagent:${JMX_AGENT_FILE}=9901:${JMX_AGENT_CONFIG}"
      - "-Deaseagent.config.path=/easeagent-volume/${EASEAGENT_CONFIG_FILE}"
      - "-Deaseagent.name=visits-service"
      - "-Deaseagent.server.port=9900"
      - "-Dspring.sleuth_enabled=false"
      - "-Dspring.sleuth.web.enabled=false"
      - "org.springframework.boot.loader.JarLauncher"
    ports:
      - "8082:8082"
      - "9901:9901"
      - "9900:9900"
    extra_hosts:
      - "config-server:172.20.2.115"
      - "discovery-server:172.20.2.115"
      - "customers-service:172.20.2.212"
      - "vets-service:172.20.2.212"


  api-gateway:
    image: springcommunity/spring-petclinic-api-gateway
    container_name: api-gateway
    volumes:
     - ${SCRIPTPATH}/easeagent:/easeagent-volume
    entrypoint: 
      - "./dockerize"
      - "-wait=tcp://discovery-server:8761"
      - "-timeout=60s"
      - "--"
      - "java"
      - "$JAVA_AGENT_CONFIG"
      - "-javaagent:${JMX_AGENT_FILE}=9901:${JMX_AGENT_CONFIG}"
      - "-Deaseagent.config.path=/easeagent-volume/${EASEAGENT_CONFIG_FILE}"
      - "-Deaseagent.name=api-service"
      - "-Deaseagent.log.conf=/easeagent-volume/easeagent-log4j2.xml"
      - "-Deaseagent.server.port=9900"
      - "-Dspring.sleuth_enabled=false"
      - "-Dspring.sleuth.web.enabled=false"
      - "org.springframework.boot.loader.JarLauncher"
    ports:
      - "8080:8080"
      - "9901:9901"
      - "9900:9900"
    extra_hosts:
      - "config-server:172.20.2.115"
      - "discovery-server:172.20.2.115"
      - "customers-service:172.20.2.212"
      - "vets-service:172.20.2.212"
