# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Visual Studio Code
.factorypath
.vscode

.DS_Store
*.swp

# Branch switching
generated/

tempo-data/

easeagent.jar
docker-compose.yml
easeagent/
